.fixed-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1000;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0000004D;
  padding: var(--gap);
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 420px;
  padding: 24px;
  background-color: var(--cWhite);
  border-radius: 12px;
  box-shadow: 0px 6px 4px 0px #00000026;
}

.text-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--cDark);
}

.text-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--cDark);
}

.text-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--cDarkSecondary);
}

.text-smalltitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--cDark);
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--cDarkSecondary);
}

.text-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--cGhost);
}
