<template id="template-home">
  <div class="container">
    <h1>Homepage - Instructions and Explanations</h1>
    <p>The application is built using the latest CSS, HTML, and JavaScript standards. It's a Single Page Application (SPA) designed with a mobile-first approach.</p>
    <a class="btn" data-btn="primary" href="#/notes">Click me to navigate to Notes</a>

    <h2>Styles</h2>
    <p>The styles are categorized and loaded modularly through the main styles.css file. The project uses modern CSS features like variables and attributes, for example:</p>
    <pre>&lt;button class=&quot;btn&quot; data-btn=&quot;primary&quot;&gt;&lt;/button&gt;</pre>

    <h2>Routing</h2>
    <p>The application utilizes basic routing, allowing for future expansion with components like registration or login, which could be used to associate notes with specific users. The routing path definitions are located in the <i><b>routes.js</b></i> file in the main project directory.</p>

    <h2>Components</h2>
    <p>The main file of the application <i><b>index.html</b></i> includes the following container:</p>
    <pre>&lt;main class=&quot;main&quot; id=&quot;app&quot;&gt;&lt;/main&gt;</pre>
    <p>Components from the components folder are dynamically loaded into this container. More detailed information about the routing and components can be found in the <i><b>README.md</b></i> documentation.</p>

    <h2>API</h2>
    <p>The application communicates with the server via a simple REST API, defined in the <i><b>scripts/api-service.js</b></i> file. The following methods are presented:</p>
    <ul>
      <li><b>GET</b>: Ideal for fetching a single record or initiating the deletion of a record.</li>
      <li><b>POST</b>: Commonly used for sending a few values, with clarity on the backend side.</li>
      <li><b>JSON</b>: Ensures data readability and ease of processing on both the client and server sides, ideal for sending larger amounts of data.</li>
    </ul>

    <h2>Web Components</h2>
    <p>The <i><b>custom-elements</b></i> folder contains definitions for Web Components. An example component is:</p>
    <pre>&lt;custom-icon data-icon=&quot;icon_name&quot;&gt;&lt;/custom-icon&gt;</pre>
    <p>This component can dynamically change its icon by updating the data-icon attribute, making it useful for features like sorting buttons where the icon changes based on the sort direction.</p>

    <h2>Documentation</h2>
    <p>Detailed documentation is available in the README.md file. It contains basic information about the project's structure and functionality, as well as standard guidelines regarding GitFlow and Workflow.</p>
  </div>
</template>
