<template id="template-notes">

<div class="container-side">
  <div class="notes-title">
    <custom-icon data-icon="note"></custom-icon>
    <span class="text-title">Notes</span>
  </div>

  <div class="notes-search">
    <custom-icon data-icon="search"></custom-icon>
    <input id="notes_search" class="inp" data-width="full" type="text" maxLength="100" placeholder="Search notes..." />
  </div>

  <div id="notes_empty" class="notes-empty">
    <div class="notes-empty_icon">
      <custom-icon data-icon="info"></custom-icon>
    </div>
    <span class="text-title">No notes yet</span>
    <span class="text-medium">Add a note to keep track of your learnings.</span>
    <button class="btn notes-button-add" data-btn="secondary">
      <custom-icon data-icon="note-add"></custom-icon>
      <span>Add Note</span>
    </button>
  </div>

  <div id="notes_add" class="notes-add">
    <div class="grid-container">
      <div class="notes-search col-12">
        <button class="btn notes-button-add" data-btn="primary" data-width="full">Add New</button>
      </div>
    </div>
  </div>
</div>

<form id="notes_form" class="notes-form">
  <div class="notes-form_top">
    <span id="notes_form_main_title" class="text-subtitle">Add new note</span>
    <button type="button" id="notes_form_cancel" class="btn" data-btn="blank">Cancel</button>
  </div>
  <input id="notes_form_id" type="hidden" name="note-id" />
  <input id="notes_form_title" class="inp" data-width="full" type="text" placeholder="Untitled Note" minLength="1" maxLength="100" required name="note-title" />
  <textarea id="notes_form_body" class="inp" data-width="full" placeholder="Your Note..." minLength="4" maxLength="2000" required name="note-body"></textarea>
  <button type="submit" id="notes_form_send" class="btn" data-btn="primary">Add</button>
</form>

<div id="notes_list" class="container-side">
  <div id="notes_container" class="grid-container"></div>
</div>

<template id="note_tpl">
  <div class="col-12 col-md-6 col-xl-4 note" draggable="true">
    <div class="note-top">
      <span class="text-smalltitle"></span>
      <div class="note-actions">
        <custom-icon class="note-edit" data-icon="note-edit"></custom-icon>
        <custom-icon class="note-delete" data-icon="delete"></custom-icon>
      </div>
    </div>
    <span class="text-body"></span>
    <span class="text-small"></span>
  </div>
</template>

</template>
