<template id="template-notes">

<div class="container-side">
  <div class="notes-title">
    <custom-icon data-icon="note"></custom-icon>
    <span>Notes</span>
  </div>

  <form>
    <div class="notes-search">
      <custom-icon data-icon="search"></custom-icon>
      <input class="inp" data-width="full" type="text" maxLength="100" placeholder="Search notes..." />
    </div>
  </form>

  <div id="notes_empty" class="notes-empty">
    <div class="notes-empty_icon">
      <custom-icon data-icon="info"></custom-icon>
    </div>
    <span class="notes-empty_title">No notes yet</span>
    <span class="notes-empty_info">Add a note to keep track of your learnings.</span>
    <button class="btn notes-button-add" data-btn="secondary">
      <custom-icon data-icon="note-add"></custom-icon>
      <span>Add Note</span>
    </button>
  </div>

  <div id="notes_add" class="notes-add">
    <div class="grid-container">
      <div class="notes-search col-12">
        <button class="btn notes-button-add" data-btn="primary" data-width="full">Add New</button>
      </div>
    </div>
  </div>
</div>

<div id="notes_form" class="notes-form">
  <div class="notes-form_top">
    <span id="notes_form_main_title" class="notes-form_top-title">Add new note</span>
    <button id="notes_form_cancel" class="btn" data-btn="blank">Cancel</button>
  </div>
  <input id="notes_form_id" type="hidden" name="note-id" />
  <input id="notes_form_title" class="inp" data-width="full" type="text" placeholder="Untitled Note" maxLength="100" name="note-title" />
  <textarea id="notes_form_body" class="inp" data-width="full" placeholder="Your Note..." maxLength="2000" name="note-content"></textarea>
  <button id="notes_form_send" class="btn" data-btn="primary">Add</button>
</div>

<div id="notes_list" class="container-side">
  <div id="notes_container" class="grid-container"></div>
</div>

<template id="note_tpl">
  <div class="col-12 col-md-6 col-xl-4 note">
    <div class="note-top">
      <span class="note-title"></span>
      <div class="note-actions">
        <custom-icon class="note-edit" data-icon="note-edit"></custom-icon>
        <custom-icon class="note-delete" data-icon="delete"></custom-icon>
      </div>
    </div>
    <span class="note-body"></span>
    <span class="note-date"></span>
  </div>
</template>

</template>
