.notes-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: calc(var(--gap) * 2);
}

.notes-title > custom-icon {
  width: 22px;
  height: 22px;
}

.notes-search {
  position: relative;
}

.notes-search > custom-icon {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}

.notes-search > .inp {
  padding-left: 48px;
}

/* section when notes list is empty */
.notes-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px auto 0 auto;
  width: 300px;
  gap: 12px;
}

.notes-empty_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--cDark);
  border: 4px solid #EEEFF0;
  border-radius: 50%;
  margin-bottom: 4px;
}

.notes-empty_icon > custom-icon {
  width: 24px;
  height: 24px;
}

.notes-empty > .notes-button-add {
  margin-top: 12px;
}

/* add button */
.notes-add {
  margin: 24px auto;
}

/* form to add or edit note */
.notes-form {
  position: relative;
  margin: 24px auto 24px auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border: 1px solid #EEEFF0;
  box-shadow: 0 0 16px #00000008;
  padding: var(--gap);
  max-width: calc(var(--maxWidth) - (var(--gap) * 2));
}

@media (min-width: 1400px) {
  .notes-form {
    border-radius: 12px;
  }
}

.notes-form_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-form > .btn {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

/* note container for notes list */
.note {
  background-color: var(--cWhite);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #00000012;
  padding: 12px;
  border-radius: 12px;
  gap: 12px;
  cursor: grab;
  transition: opacity var(--transition);
}

.note.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.note-placeholder {
  background-color: var(--cWhite);
  border: 2px dashed var(--cSecondary);
  border-radius: 12px;
}

.note-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.note-actions custom-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
